:root {
  --base-text-color: hsla(0, 0%, 0%, 0.8);
  --theme-color: #4c346a;
  --base-spacing: 12px;
}

.p-2 {
  padding: var(--base-spacing);
}
.p-4 {
  padding: calc(2 * var(--base-spacing));
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

nav a {
  text-decoration: none;
  color: var(--base-text-color);
  font-weight: bold;
  cursor: pointer;

  margin: 0 var(--base-spacing);
}

nav a:hover {
  color: var(--theme-color);
  text-decoration: underline;
}

.container {
  max-width: 960px;
}

@media (max-width: 1000px) {
  .container {
    max-width: 760px;
  }
}
