:root {
  --base-text-color: hsla(0, 0%, 0%, 0.8);
  --secondary-text-color: hsla(0, 0%, 0%, 0.6);

  --inverted-background-color: #222;
  --inverted-text-color: #ccc;

  --theme-color: #4c346a;
  --base-spacing: 12px;
}

.p-2 {
  padding: var(--base-spacing);
}
.p-4 {
  padding: calc(2 * var(--base-spacing));
}

.m-2 {
  margin: var(--base-spacing);
}
.m-4 {
  margin: calc(2 * var(--base-spacing));
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav a {
  text-decoration: none;
  color: var(--base-text-color);
  font-weight: bold;
  cursor: pointer;

  margin: 0 var(--base-spacing);
}

nav a:hover {
  color: var(--theme-color);
  text-decoration: underline;
}

footer nav a {
  color: white;
  opacity: 0.7;
}

footer nav a:hover {
  color: white;
  opacity: 1;
}

.container {
  max-width: 1200px;
}

@media (max-width: 1300px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 760px) {
  .container {
    padding: 0 20px;
  }

  header nav {
    position: relative;
  }

  .full-nav {
    display: none;
    position: absolute;
    top: 100%;
    right: calc(-1 * var(--base-spacing));
    text-align: right;
    z-index: 1000;
  }

  .full-nav a {
    display: block;
  }

  .nav--full .full-nav {
    display: block;
  }

  footer nav {
    display: none;
  }

  .post-list__article {
    flex-direction: column;
  }
}

@media (min-width: 760px) {
  .mini-nav {
    display: none;
  }

  .full-nav {
    display: block !important;
  }
}

.article-container figure {
  text-align: center;
  margin: calc(var(--base-spacing) * 3) 0;
  color: var(--secondary-text-color);
}

.article-container figure img {
  object-fit: contain;
  max-width: 100%;
}

.article-container figcaption {
  margin-top: var(--base-spacing);
}

.article-container figure.figure-left {
  float: left;
  margin: calc(var(--base-spacing) * 2);
}

.article-container figure.figure-right {
  float: right;
  margin: calc(var(--base-spacing) * 2);
}

.clearfix {
  clear: both;
  height: 1px;
}

.figure-1-2 {
  max-width: 50%;
}

button.button,
a.button {
  display: inline-block;
  padding: 15px;
  line-height: 24px;
  font-size: 20px;
  color: white;
  background: var(--theme-color);
  border: 1px solid var(--theme-color);
  border-radius: 5px;
}

.button:hover {
  color: var(--theme-color);
  background: white;
  text-decoration: none;
  cursor: pointer;
}

/** Privacy Policy Psuedoclasses */
.privacy [data-custom-class='body'],
.privacy [data-custom-class='body'] * {
  background: transparent !important;
}
.privacy [data-custom-class='title'],
.privacy [data-custom-class='title'] * {
  font-family: Arial !important;
  font-size: 26px !important;
  color: #000000 !important;
}
.privacy [data-custom-class='subtitle'],
.privacy [data-custom-class='subtitle'] * {
  font-family: Arial !important;
  color: #595959 !important;
  font-size: 14px !important;
}
.privacy [data-custom-class='heading_1'],
.privacy [data-custom-class='heading_1'] * {
  font-family: Arial !important;
  font-size: 19px !important;
  color: #000000 !important;
}
.privacy [data-custom-class='heading_2'],
.privacy [data-custom-class='heading_2'] * {
  font-family: Arial !important;
  font-size: 17px !important;
  color: #000000 !important;
}
.privacy [data-custom-class='body_text'],
.privacy [data-custom-class='body_text'] * {
  color: #595959 !important;
  font-size: 14px !important;
  font-family: Arial !important;
}
.privacy [data-custom-class='link'],
.privacy [data-custom-class='link'] * {
  color: #3030f1 !important;
  font-size: 14px !important;
  font-family: Arial !important;
  word-break: break-word !important;
}
.privacy ul {
  list-style-type: square;
}
.privacy ul > li > ul {
  list-style-type: circle;
}
.privacy ul > li > ul > li > ul {
  list-style-type: square;
}
.privacy ol li {
  font-family: Arial;
}
