:root {
  --base-text-color: hsla(0, 0%, 0%, 0.8);
  --theme-color: #7250a1;
  --base-spacing: 12px;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 760px;
  margin: 0 auto;
  position: relative;
}

nav a {
  text-decoration: none;
  color: var(--base-text-color);
  font-weight: bold;
  cursor: pointer;

  margin: 0 var(--base-spacing);
}

nav a:hover {
  color: var(--theme-color);
  text-decoration: underline;
}
